*.DS_STORE
*.egg
*.egg-info/
*.py[cod]
*.swo
*.swp
.benchmarks/
.coverage
.tox/
__pycache__/
benchmarks/samples/
benchmarks/raw_benchmark_data/
benchmarks/processed_benchmark_data/
build/
dist/
docs/build/
htmlcov/
prof/
benchmarks/bench_interval_multiply_*.py
benchmarks/bench_minimize_*.py
